<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>JumboFit</title>
  <link rel="stylesheet" href="/static/styles.css" />
</head>


<!-- MY JOURNEY SECTION -->
<section id="journey-section" class="hidden-section">
        <h2>My Journey</h2>
        <p>Track your progress and achievements.</p>
        <div class="myjourney-buttons">
          <button id="progress">Progress</button>
          <button id="achievements">Achievements</button>
          <button id="buddies">Gym Buddies</button>
        </div>
      </section>
    </main>

    <!-- PROGRESS SECTION -->
    <section id="progress-section" class="hidden-section">
        <h2>Progress!</h2>
        <p>Track your progress here!</p>
        <ul>
          <li>Completed 10 Workouts</li>
          <li>Lost 5 lbs</li>
          <li>Improved Mile Time by 1 Minute</li>
        </ul>
        <div class="back-button">
          <button id="back1">Back</button>
        </div>
      </section>
    </main>

    <!-- ACHIEVEMENTS SECTION -->
    <section id="achievements-section" class="hidden-section">
        <h2>Achievements!</h2>
        <p>Track your achievements here!</p>
        <ul>
          <li>Ran 1 mile in 5 minutes!</li>
        </ul>
        <div class="back-button">
          <button id="back2">Back</button>
        </div>
      </section>
    </main>

    <!-- GYM BUDDY SECTION -->
    <section id="gymbuddy-section" class="hidden-section">
        <h2>Gym Buddies!</h2>
        <p>See your current Gym Buddies and find new ones here!</p>
        <p>Current Buddies:</p>
        <ul>
          <li></li>
        </ul>
        <div class="back-button">
          <button id="back3">Back</button>
        </div>
      </section>
    </main>