<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>JumboFit</title>
  <link rel="stylesheet" href="/static/styles.css" />
</head>

<body>

<!-- WORKOUTS SECTION -->
 <section id="workouts-section" class="hidden-section">
    <div class="workout-text">
      <h2>Workouts</h2>
      <p>Choose from a variety of workouts tailored to your goals!</p>
    </div>
    <div class="custom-dropdown">
      <button class="dropdown-btn">Select a Workout</button>
      <ul class="dropdown-list">
        <li data-value = "beginner-fullbody">Beginner Full-Body</li>
        <li data-value="hiit-cardio">HIT Cardio</li>
        <li data-value="training">Training</li>
        <li data-value="flexibility">Flexibility</li>
      </ul>
      </div>
  </section>
  <!-- JavaScript -->
  <script src="/static/script.js"></script>
</body>
</html>

  